*{
  padding: 0;
  margin: 0   ;
}

.app-wrapper{
  margin: 0 auto;
  display: grid;
  /*grid-template-columns:60% 40%;  /* cколько каждая из колон займет места */
 /* grid-column-gap: 1em; /* отступы между сетками  по вертикали*/ 
  /*grid-row-gap: 1em; po gorizontali*/ 
  /*grid-gap: 1em; /* setka po vert i gorizn*/

 /* grid-template-columns: 1fr 2fr 1fr;  зтри блока займут такое кол-во фракций */

 /* grid-auto-rows: 200px; /* высота для всех блоков */
  width: 150vh;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 10fr;
  grid-gap: 10px;
   grid-template-areas:
      "h h"
      "s c"
      "s c"     ;

}
.header{
  text-align: center;
  grid-area: h;
  padding: 1em;
  background-color: red;
}
.nav{
  max-height: 500px;
  grid-area: s;
  background-color: plum;
}
.content{
  grid-area: c;
  background-color: peru;
}

div img{
  width: 100%;
  height: 150px;
  
}

header img{
  height: 45px;
  width: 45px;
}
