.nav{
    max-height: 500px;
    grid-area: s;
    background-color: plum;
    padding: 20px;
}
.item a{

    color: white;
    text-decoration: none;
}

.item a.active{
    color: gold;
}
.friends{
    margin-top: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
}
.friends__photo{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;

}
.friends__photo img{
    border-radius: 50%;
    height: 75%;
    width: 40%;
}
.friends__wrapper{
    display: flex;
    flex-direction: column;
    height: 80%;
}
.friends__photo span{
    align-self: center;
}